footer {
    background-color: $white;
    .menu-footer {
        width: 100%;
        background-color: $white;
        min-height: 9.6rem;
        z-index: 999;
        &.active {
            box-shadow: 0.3rem 0.3rem 3rem #00000017;
        }
        @include flex(row, center, space-between);
        .container {
            @include flex(row, center, space-between);
            img {
                width: 10.6rem;
                height: auto;
            }
            .links {
                #btn-mobile {
                    display: none;
                }
                ul {
                    @include flex(row, center, space-between);
                    list-style: none;
                    li {
                        &:not(:last-child) {
                            margin-right: 2.4rem;
                        }
                        a {
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 400;
                            font-size: 1.8rem;
                            line-height: 150%;
                            color: $title;
                            &.active {
                                color: $orange;
                                font-weight: bold;
                            }
                            &::after {
                                content: '';
                                display: block;
                                width: 0%;
                                height: 0.2rem;
                                background-color: transparent;
                                transition: 0.5s;
                            }
                            &:hover::after {
                                width: 100%;
                                background-color: $orange;
                            }
                        }
                    }
                }
            }
        }
    }
}